

.contenedor-perfil{
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    width: 700px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin:auto;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
   
}   


.contenedor-perfil h1{
    color: #19058b;
    font-size: 20px;
    margin-top: -450px;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}




