/* .app-container {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.form-container {
  width: 100%;
  height: 100%;
  /* max-width: 900px; */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para alinear los campos en fila */
.form-row {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group__slider {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* Etiquetas */
.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Campos de entrada (inputs, selects) */
.form-input__texto,
.form-input__seleccion {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-input__slider {
  width: 30px;
}

/* Botón de envío */
button {
  padding: 10px 20px;
  background-color: #023a75;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #015080;
}

.form-container h2 {
  text-align: center;

  font-size: 30px;
}
