/* .app-container {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.form-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* Estilos para alinear los campos en fila */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

/* Los campos dentro de la fila tienen un tamaño fijo */
.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

/* Etiquetas */
.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Campos de entrada (inputs, selects) */
.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Botón de envío */
button {
  padding: 10px 20px;
  background-color: #023a75;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #015080;
}

.form-container h2 {
  text-align: center;

  font-size: 30px;
}
