
.dashboard-container {
    margin-top: -250px;
    margin-left: 500px;
    padding: 40px;
    border-radius: 15px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    background-color: rgb(3, 80, 116);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: unset;
    z-index: 999;

}

.dashboard-container:hover {
    background-color: #1f5997; /* Color de fondo al hacer hover */
    color: white; /* Color de texto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición */
}


.citas-reservadas{

    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    
}

.Contador-citas{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
}





