.btn-secondary ul li a {

    position: fixed;
    margin-left: 175%;
    flex-direction: column;
    z-index: 1000;
    margin-top: -10px;
    
} 


.btn-secondary{
    background-color: #023a75 ; 
}