.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../Elementos_Proyecto/Fondos_Login/top-view-pink-keyboard-with-copyspace.jpg');
  background-size: cover;
}

.login-container {
  
  
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  height: 500px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

  
}

.login-logo {
  width: 100px;

  margin-bottom: 20px;

}

.reset-password-link {
  display: block;
  margin-top: 10px;
  color: #19058b;
}

.login-button {
  margin-top: 20px;
  width: 70vh;
  background-color: #3b1fdae7;
}


.my-hover-input:hover{
  background-color: #dde9f5; /* Cambia el color de fondo al hacer hover */
}

.Titulo-principal-login{
  color: #cec8e7;
  font-size: 20px;
 
}

.Iniciar-sesion{
  color: #8c8f7d;
  font-size: 20px;
}

.logo-login{
  background-image: url('../Elementos_Proyecto/Fondos_Login/Logo-ForAgend.png');
  margin: auto;
  width: 100px;
  height: 100px;
  background-size: cover;
  opacity: 0.3;
}

.edicontra{
 
  color: #8c8f7d;
  margin: left;
  margin-right: 400px;
}

.labcorre{
  
  color: #8c8f7d;
  color: #8c8f7d;
  margin: left;
  margin-right: 410px;
  
}

.form-control{
  opacity: 0.5;
}

