/* Archivo menuvertical.css */

.menu-vertical {
  width: 98%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  border: solid 1px #e2e6eb;
  box-shadow: 0 5px 5px #023a75(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;

  background-color: hsl(0, 0%, 100%);
  font-family: "Roboto", sans-serif;
  padding: 20px;
  align-items: center;
  border: solid 1px #e2e6eb;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.menu-vertical__nav {
  width: 100%;
  /* padding: 20px; */
  align-items: center;
}

.menu-vertical__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .menu-vertical__item {} */

.menu-vertical__link {
  display: flex;
  gap: 5px;
  align-items: center;
  /* justify-content: center; */
  text-decoration: none;
  color: #050505;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-vertical__link:hover {
  background-color: #023a75;
  color: white;
}

/* .menu-footer {
  text-align: center;
  margin-top: 200px;
}

.menu-footer p {
  margin: 0;
  color: #333333;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-footer p:hover {
  color: #dc3545;
}

.menu-vertical nav ul li a svg {
  margin-right: 10px;
  font-size: 20px;
}

.menu-vertical nav ul li a {
  border-bottom: 1px solid #e0e0e0;
} */

/* .menu-header {
  width: calc(100% - 250px);
  height: 60px;
  background-color: #023a75;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 250px;
  z-index: 1000;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.menu-header p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-size: 35px;
}

.menu-header .btn {
  margin-left: auto;
}

.menu-user {
  position: fixed;
  margin-left: 175%;
  flex-direction: column;
  z-index: 1000;
  margin-top: -10px;
} */

/* .btn-primary {
  background-color: #023a75;
  color: white;
  border: #333333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* .menu-vertical .footer {
  width: calc(100% - 250px);
  background-color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 250px;
  border: solid 2px #e3e8ec;
  box-shadow: 0 5px 5px #023a75(0, 0, 0, 0.1);
}

.menu-vertical .footer p {
  margin: 0;
  font-size: 16px;
  color: #b5c7c7;
  cursor: pointer;
  transition: color 0.3s ease;
} */

/* .app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content-area {
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f9fa;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
} */
