.contenedor-perfil{
    margin:auto;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   


.contenedor-perfil h1{
    color: #19058b;
    font-size: 20px;
}




