.user-agendar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f8f9fa;
}

.user-agendar__titulo {
  padding: 0;
  margin: auto;
  text-align: center;
}

.user-agendar__contenido {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* align-items: center; */
  justify-content: space-evenly;
}

.user-agendar__botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.user-agendar__boton {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
