/* ===========================
   CONTENEDOR PRINCIPAL
   =========================== */
.auth__contenedor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  background-image: url(../../assets/imagenes/estetoscopio.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===========================
   RESPONSIVE SOLO PARA CONTENEDOR
   =========================== */
@media (max-width: 1024px) {
  .auth__contenedor {
    padding: 15px;
    background-position: top center;
  }
}

@media (max-width: 600px) {
  .auth__contenedor {
    padding: 10px;
    background-size: auto 100vh;
    background-position: top right;
  }
}
